<!DOCTYPE html>
<html>
	<head>
		<title>Lecture 4 - Chat</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<nav class="navbar navbar-light bg-faded navbar-toggleable-md">
			<a class="navbar-brand" href="/">Home</a>
			<ul class="navbar-nav mr-auto">
				<% if current_user %>
				<li class="nav-item">
					<%= link_to "Logout", logout_path, class: "btn btn-success" %>
				</li>
				<% else %>
				<a class="form-inline my-2 my-lg-0">
					<%= form_tag(login_path(:username), id: "search-form", html: {class: 'form-group'}) do %>
					<%= text_field_tag :username, params[:username], class: 'form-control mr-sm-2', placeholder: "User name" %>
					<%= submit_tag "Login", class: 'btn btn btn-outline-success my-2 my-sm-0', :name => nil %>
					<% end %>
				</a>
				<% end %>
			</ul>
		</nav>
		<div class="container">
			<%= flash_messages %>
			<%= yield %>
		</div>
	</body>
</html>
